textarea {
	/* font-size: 0.8rem;
	letter-spacing: 1px;
	padding: 10px;
	max-width: 100%;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #999; */
	resize: both;
}

#preview code {
	background: white;
	font-size: 0.875rem;
	/* font-weight: bold; */
}

#preview pre {
	display: block;
	overflow: auto;
	background: white;
	padding: 5px;
	line-height: 1.2;
}

#preview blockquote {
	border-left: 3px solid white;
	/* color: #224b4b; */
	padding-left: 5px;
	margin-left: 25px;
}

#preview img {
	/* display: block; */
	max-width: 80%;
	height: 35px;
	background-color: white;
	padding: 5px;
}

.editorWrap .toolbar,
.previewWrap .toolbar {
	font-weight: bold;
	padding-left: 5px;
}
.sizing-button {
	cursor: pointer;
}
.editorWrap textarea {
	width: 99%;
	min-height: 200px;
	margin-bottom: -5px;
	/* resize: vertical; */
	outline: none;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 0.875rem;
}

.editorWrap textarea {
	/* background-color: #c0d8d8;
	border: 1px solid #1d2f2f; */
	box-shadow: 1px 1px 10px 2px #3a5f5f;
	border: none;
}

.previewWrap .form-control {
	box-shadow: 1px 1px 10px 2px #3a5f5f;
	border: none;
}
